footer.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 67px 83px 38px 83px;
  background: #e8ebf0;
}

footer.footer .above {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 409px;
}

footer.footer .above .leftt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
}

footer.footer .above .righty {
  display: flex;
  gap: 82px;
}

footer.footer .above .righty .link-one h2,
footer.footer .above .righty .link-two h2 {
  margin-bottom: 22px;
  font-size: 20px;
  font-weight: 600;
}

footer.footer .above .righty .link-one li a,
footer.footer .above .righty .link-two li a {
  font-size: 16px;
  color: #353940;
  line-height: 175%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #353940;
  margin-top: 37px;
  margin-bottom: 23px;
}

@media (max-width: 768px) {
  footer.footer {
    padding: 25px 15px;
  }

  footer.footer .above {
    flex-direction: column;
    align-items: center;
    gap: 49px;
  }

  footer.footer .above .leftt p {
    text-align: left;
  }

  footer.footer .above .leftt,
  footer.footer .above .righty {
    width: 100%;
    text-align: center;
  }

  footer.footer .above .righty {
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  .below {
    display: flex;

    text-align: left;
    gap: 20px;
    align-self: flex-start;
    justify-self: flex-start;
  }
}
