section.start-today {
  width: 97%;
  margin: 0 auto;
  background: url("../../images/blue.svg");
  background-size: cover;
  background-position: center;
  margin-top: 70px;
  border-radius: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 70px 326px;
}

section.start-today h2.start {
  font-size: 44px;
  font-family: 900;
}

section.start-today p {
  font-size: 20px;
  font-family: 400;
  margin-top: 9px;
  margin-bottom: 31px;
  width: 602px;
}

section.start-today .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

section.start-today .buttons a.rec {
  padding: 23px;
  color: #144dc9;
  background-color: #ffffff;
  border-radius: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: #bed2ff 1px 3px 0px;
}

section.start-today .buttons a.rec:active {
  box-shadow: none;
  transform: translate(3px, 1px);
}

section.start-today .buttons a.seek {
  padding: 23px;
  color: #f9fafb;
  background-color: #2563eb;
  border-radius: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: #bed2ff 1px 3px 0px;
}

section.start-today .buttons a.seek .iic {
  background-color: #fafcff;
  color: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 7px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

section.start-today .buttons a.seek:active {
  box-shadow: none;
  transform: translate(3px, 1px);
}

@media (max-width: 768px) {
  section.start-today {
    padding: 40px;
    background: url("../images/journeymobile.svg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 60px auto;
  }

  section.start-today h2.start {
    font-size: 24px;
  }

  section.start-today p {
    font-size: 14px;
    width: 100%;
  }

  section.start-today .buttons {
    gap: 15px;
    font-size: 14px;
  }

  section.start-today .buttons a.rec,
  section.start-today .buttons a.seek {
    text-align: center;
    padding: 8px 15px;
    font-size: 14px;
  }
}
